$main-color: #155eac;
$background-color: #155eac25;
$font-color-light: #e9e9e9;
$font-color-lighter: #f6f6f6;
$font-color-dark: #171717;
$font-color-less-darker: #222222;
$dark-gray: #5a6268;
$dark-gray-hover: #5a6268;
$gray: #9aa2a8;
$gray-hover: #8a9298;
$light-gray: #bac2c8;
$light-gray-hover: #aab2b8;