$main-color: #285430;
$secondary-color: #A4BE7B;
$secondary-color-alpha: #A4BE7B88;
$secondary-color-hover: #6ca059;

$background-color: #e4e4e4;

$dirty-white: #f4f4f4;
$dirty-white-alpha: #f4f4f4cc;

$font-color-light: #e9e9e9;
$font-color-dark: #121212;
$font-color-less-darker: #484848;
$font-color-red: #e51212;

$border: #b2b2b2;
$border-light: #dadada;

$gray: #dadada;
$gray-alpha: #dadada33;
$gray-light: #e4e4e4;

$red: #dc0000;
$yellow: #f3a000;
$green: #00a83f;

$scrollbar-thumb-color: #A4BE7B66;
$scrollbar-track-color: #33333303;