@use './variables.scss';

.fixtures {
	width: 100%;
	&__element {
		margin: 0.75em 0;
		&:first-child {
			margin-top: 0;
		}
		.fixtures__round {
			margin-bottom: 0.5em;
			padding: 0.5em 0.75em;
			background-color: variables.$secondary-color-alpha;
			border-radius: 10px;
			p {
				font-size: 1.2rem;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				color: variables.$font-color-less-darker;
			}
		}
	}
	&__button-box {
		display: flex;
		justify-content: center;
		padding-top: 0.25em;
		.fixtures__button {
			padding: 0.5em 1em;
			width: 100%;
			background-color: variables.$secondary-color;
			border: none;
			border-radius: 10px;
			font-size: 1.2rem;
			font-weight: bold;
			color: variables.$font-color-less-darker;
			text-align: center;
			text-transform: uppercase;
			transition: background-color 0.3s;
			cursor: pointer;
			&:hover {
				background-color: variables.$secondary-color-hover;
			}
		}
	}
	&__no-matches-info{
		padding: 0.5em 0.75em;
		background-color: variables.$gray-light;
		border-radius: 10px;
		p {
			font-size: 1.2rem;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			color: variables.$font-color-less-darker;
		}
	}
}

@media (min-width: 768px) {
	.fixtures {
		&__button-box {
			.fixtures__button {
				padding: 0.5em 1.5em;
				width: auto;
			}
		}
	}
}
