@use './variables.scss';

.home {
	display: flex;
	flex-direction: column;
	&__leagues-bar-desktop {
		display: none;
	}
}

@media (min-width: 768px) {
	.home {
		display: grid;
		grid-template-columns: 200px 1fr;
		&__leagues-bar-mobile {
			display: none;
		}
		&__leagues-bar-desktop {
			display: block;
			grid-column: 1/2;
			grid-row: 1/3;
		}
		&__date-picker {
			grid-column: 2/3;
			grid-row: 1/2;
			padding-left: 1em;
		}
		&__match-cards {
			grid-column: 2/3;
			grid-row: 2/3;
			padding-left: 1em;
		}
	}
}
