@use './variables.scss';

.lineups-pitch__player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.lineups-pitch__jersey {
		position: relative;
		.icon {
			font-size: 3.6rem;
		}
		.lineups-pitch__player-number {
			position: absolute;
			z-index: 1;
			left: 50%;
			top: 50%;
			font-size: 1.3rem;
			font-weight: 500;
			font-family: 'Changa', sans-serif;
			transform: translate(-50%, -50%);
		}
	}

	.lineups-pitch__player-name-box {
		position: relative;
		.lineups-pitch__player-name {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			margin-top: -0.3em;
			padding: 0.05em 0.25em;
			left: 0;
			border-radius: 5px;
			background-color: variables.$dirty-white-alpha;
			transform: translate(-50%);
			span {
				font-size: 0.9rem;
				font-weight: bold;
				text-align: center;
				white-space: nowrap;
			}
		}
	}
}

.lineups-pitch__mobile {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	aspect-ratio: 3/4;
	border-radius: 10px;
	overflow: hidden;
	.lineups-pitch__background {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
	.lineups-pitch__home,
	.lineups-pitch__away {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		height: 50%;
		z-index: 1;
		background-color: variables.$gray-alpha;
		.lineups-pitch__line {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}
	}
	.lineups-pitch__away {
		.lineups-pitch__line {
			flex-direction: row-reverse;
		}
	}
}

.lineups-pitch__desktop {
	display: none;
}

@media (min-width: 576px) {
	.lineups-pitch__player {
		.lineups-pitch__jersey {
			.icon {
				font-size: 4.2rem;
			}
			.lineups-pitch__player-number {
				font-size: 1.4rem;
			}
		}
		.lineups-pitch__player-name-box {
			.lineups-pitch__player-name {
				span {
					font-size: 1rem;
				}
			}
		}
	}

	.lineups-pitch__mobile {
		display: none;
	}

	.lineups-pitch__desktop {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 100%;
		aspect-ratio: 4/3;
		border-radius: 10px;
		overflow: hidden;
		.lineups-pitch__background {
			position: absolute;
			left: 12.5%;
			top: -16.66%;
			height: 133.33%;
			width: 75%;
			background-size: cover;
			background-position: center;
			transform: rotate(90deg);
		}
		.lineups-pitch__home,
		.lineups-pitch__away {
			display: grid;
			grid-template-rows: 1fr;
			height: 100%;
			width: 50%;
			z-index: 1;
			background-color: variables.$gray-alpha;
			.lineups-pitch__line {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
			}
		}
		.lineups-pitch__home {
			.lineups-pitch__line {
				flex-direction: column-reverse;
			}
		}
	}
}

@media (min-width: 768px) {
	.lineups-pitch__player {
		.lineups-pitch__jersey {
			.icon {
				font-size: 4.8rem;
			}
			.lineups-pitch__player-number {
				font-size: 1.5rem;
			}
		}

		.lineups-pitch__player-name-box {
			.lineups-pitch__player-name {
				span {
					font-size: 1.1rem;
				}
			}
		}
	}
}
