@use './variables.scss';

.match-detail {
	margin-top: 0.5em;
	padding: 0.25em 0;
	width: 100%;
	background-color: variables.$dirty-white;
	box-shadow: 0 0 10px variables.$gray;
	&__result {
		margin-top: 0.5em;
		padding: 0.5em 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		.match-detail__team {
			display: flex;
			flex-direction: column;
			align-items: center;
			&-logo {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 0.375em;
				width: 65px;
				height: 65px;
				background-color: #fff;
				border-radius: 10px;
				box-shadow: 0 0 20px #00000010;
				img {
					width: 47.5px;
				}
			}
			&-name {
				p {
					text-align: center;
					font-size: 1.5rem;
				}
				.match-detail__team-name-bold {
					font-weight: bold;
				}
			}
		}
		.match-detail__info {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.match-detail__date {
				color: variables.$font-color-less-darker;
				text-align: center;
				font-size: 1.2rem;
				margin-bottom: 0.25em;
				&--line-through {
					text-decoration: line-through;
				}
			}
			.match-detail__score {
				font-size: 3.6rem;
				font-weight: bold;
				&--live {
					color: variables.$font-color-red;
				}
			}
			.match-detail__score-second {
				margin-top: -0.125em;
				margin-bottom: 0.5em;
				font-size: 1.6rem;
				color: variables.$font-color-less-darker;
			}
			.match-detail__status {
				font-size: 1rem;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				&--live {
					color: variables.$font-color-red;
				}
			}
		}
	}

	&__section-switcher {
		display: flex;
		padding: 0.5em 0;
		border-top: 1px solid variables.$border;
		margin: 0 0.5em;
		overflow-x: scroll;
		.match-detail__section-btn {
			padding: 0.75em 1.5em;
			margin: 0 0.5em;
			border-radius: 10px;
			font-weight: bold;
			text-transform: uppercase;
			background-color: variables.$secondary-color;
			border: none;
			transition: background-color 0.3s;
			cursor: pointer;
			&:hover,
			&--active {
				background-color: variables.$secondary-color-hover;
			}
		}
	}

	&__section-box {
		padding: 0.5em 0;
		border-top: 1px solid variables.$border;
		margin: 0 0.5em;
	}

	&__other-info {
		border-top: 1px solid variables.$border;
		margin: 0 0.5em;
		padding: 0.5em 0 0;
		&-heading {
			margin-bottom: 0.5em;
			p {
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				font-size: 1.1rem;
			}
		}
		&-element {
			margin: 0.5em 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.match-detail__other-info-name,
			.match-detail__other-info-value {
				font-size: 1.1rem;
			}
			.match-detail__other-info-name {
				text-transform: uppercase;
			}
			.match-detail__other-info-value {
				font-weight: bold;
			}
		}
	}
}

@media (min-width: 768px) {
	.match-detail {
		margin-top: 1em;
		padding: 0.5em;
		border-radius: 10px;
		max-height: calc(100vh - 95px);
		overflow: scroll;
		&__result {
			padding: 0.75em 0;
			.match-detail__team {
				&-logo {
					width: 85px;
					height: 85px;
					img {
						width: 60px;
					}
				}
				&-name {
					p {
						font-size: 1.6rem;
					}
				}
			}
			.match-detail__info {
				.match-detail__date {
					margin-bottom: 0.2em;
				}
				.match-detail__score {
					font-size: 4.8rem;
				}
				.match-detail__score-second {
					margin-bottom: 0.5em;
					font-size: 2rem;
				}
				.match-detail__status {
					font-size: 1.2rem;
				}
			}
		}

		&__section-box {
			padding: 0.75em 0;
		}

		&__section-switcher {
			justify-content: space-between;
			padding: 0.75em 0;
			.match-detail__section-btn {
				width: 25%;
			}
		}

		&__other-info {
			padding: 0.75em 0 0;
			&-heading {
				p {
					font-size: 1.2rem;
				}
			}
			&-element {
				margin: 0.75em 0;
				.match-detail__other-info-name,
				.match-detail__other-info-value {
					font-size: 1.2rem;
				}
			}
		}
	}
}
