@use './variables.scss';

.match-cards {
	margin-top: 0.5em;
	padding-top: 0.5em;
	width: 100%;
	background-color: #f4f4f4;
	&__element{
		margin-bottom: .375em;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

@media (min-width: 768px) {
	.match-cards {
		margin-top: .75em;
		padding: 1em;
		height: calc(100vh - 190px);
		border-radius: 10px;
		overflow: scroll;
	}
}
