@use './variables.scss';

.standings {
	margin: .75em 0 2em;
	&__round {
		display: flex;
		justify-content: center;
		margin-bottom: 0.5em;
		padding: 0.75em 0.25em;
		font-size: 1.2rem;
		border-bottom: none;
		border-radius: 10px;
		background-color: variables.$secondary-color-alpha;
		&-name {
			text-transform: uppercase;
			font-size: 1.2rem;
			font-weight: bold;
			color: variables.$font-color-less-darker;
		}
	}
	&__box {
		.standings__element {
			display: flex;
			align-items: center;
			border-bottom: 1px solid variables.$border-light;
			font-size: 1.3rem;
			padding: 0.25em;
			transition: background-color 0.3s;
			&:hover {
				background-color: variables.$gray-light;
			}
			&:nth-child(2) {
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
			}
			&:last-child {
				border-bottom: none;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			.standings__rank {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 0.75em;
				font-size: 1.2rem;
				width: 22px;
				font-weight: bold;
				height: 22px;
				border-radius: 5px;
				&--first {
					color: variables.$font-color-light;
					background-color: #004682;
				}
				&--second {
					color: variables.$font-color-light;
					background-color: #047700;
				}
				&--third {
					color: variables.$font-color-light;
					background-color: #b8860b;
				}
				&--fourth {
					color: variables.$font-color-light;
					background-color: #ac5702;
				}
				&--fifth {
					color: variables.$font-color-light;
					background-color: rgb(189, 0, 0);
				}
				&--sixth {
					color: variables.$font-color-light;
					background-color: rgb(127, 0, 41);
				}
			}
			.standings__team-logo {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 0.5em;
				img {
					height: 20px;
				}
			}
			.standings__value-box {
				width: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				&:nth-child(4) {
					margin-left: auto;
				}
				.standings__match-points {
					font-weight: bold;
				}
			}
		}
		.standings__element-header {
			background-color: variables.$gray-light;
			padding: 0.75em 0.25em;
			font-size: 1.2rem;
			margin-bottom: 0.5em;
			border-bottom: none;
			border-radius: 10px;
			.standings__team-name {
				font-size: 1.2rem;
			}
			.standings__rank {
				height: auto;
				font-size: 1.3rem;
				font-weight: normal;
				margin-right: 0.75em;
			}
			.standings__value-box {
				&:nth-child(3) {
					margin-left: auto;
				}
				&:nth-child(4) {
					margin-left: 0;
				}
			}
			.standings__form-match-label {
				display: flex;
				justify-content: center;
				width: 115px;
			}
		}
		&--desktop {
			display: none;
		}
	}
	.standings__legend {
		margin-top: 0.5em;
		&-element {
			display: flex;
			align-items: center;
			padding: 0.125em 0.5em;
			&:last-child {
				padding-bottom: 0;
			}
			.standings__legend-square {
				width: 14px;
				height: 14px;
				border-radius: 4px;
				margin-right: 0.5em;
				&--first {
					background-color: #004682;
				}
				&--second {
					background-color: #047700;
				}
				&--third {
					background-color: #b8860b;
				}
				&--fourth {
					background-color: #ac5702;
				}
				&--fifth {
					background-color: rgb(189, 0, 0);
				}
				&--sixth {
					background-color: rgb(127, 0, 41);
				}
			}
			.standings__legend-label {
				font-size: 1.2rem;
				color: variables.$font-color-less-darker;
			}
		}
	}
}

@media (min-width: 768px) {
	.standings {
		border-radius: 10px;
		&__round {
			&-name {
				font-size: 1.3rem;
			}
		}
		&__box {
			&--mobile {
				display: none;
			}
			&--desktop {
				display: block;
			}
			.standings__element {
				padding: 0.5em;
				font-size: 1.4rem;
				.standings__team-logo {
					img {
						height: 22px;
					}
				}
				.standings__team-name {
					font-size: 1.5rem;
				}
				.standings__form-match {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 20px;
					font-size: 1.3rem;
					height: 20px;
					margin: 0 1.5px;
					border-radius: 5px;
					color: #fff;
					background-color: red;
					&--won {
						background-color: variables.$green;
					}
					&--draw {
						background-color: variables.$yellow;
					}
					&--loss {
						background-color: variables.$red;
					}
				}
			}
			.standings__element-header {
				padding: 0.75em 0.5em;
				font-size: 1.3rem;
				.standings__team-name {
					font-size: 1.3rem;
				}
				.standings__rank {
					font-size: 1.4rem;
					font-weight: normal;
					height: auto;
				}
				.standings__form-match-label {
					display: flex;
					justify-content: center;
					width: 115px;
				}
			}
		}
	}
}
