@use './variables.scss';

.summary-event {
	display: flex;
	align-items: center;
	padding: 0.25em 0;
	width: 100%;
	.summary-event__minute-box {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
		.summary-event__minute {
			font-size: 1.4rem;
			font-weight: bold;
			color: variables.$font-color-less-darker;
		}
	}

	.summary-event__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0.25em;
		min-width: 20px;
		height: 20px;
		border-radius: 5px;
		border: 1px solid variables.$border-light;
		.icon {
			font-size: 1.8rem;
			&--goal {
				color: variables.$font-color-dark;
			}
			&--own-goal {
				color: variables.$red;
			}
			&--subst {
				color: variables.$green;
			}
			&--warn {
				margin: 0 0.1em;
				font-size: 1.5rem;
				color: variables.$red;
			}
		}
		.card-icon {
			margin: 0 0.1em;
			height: 14px;
			border-radius: 2px;
			aspect-ratio: 2/3;
			&--yellow {
				background-color: variables.$yellow;
			}
			&--red {
				background-color: variables.$red;
			}
		}
		.var-icon {
			padding: 0 0.2em;
			font-size: 1rem;
			color: variables.$red;
			font-weight: bold;
		}
	}

	.summary-event__player {
		margin-right: 0.25em;
		font-size: 1.3rem;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}

	.summary-event__assist,
	.summary-event__comment {
		font-size: 1.3rem;
		color: variables.$font-color-less-darker;
	}

	.summary-event__assist {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}

	&--away {
		flex-direction: row-reverse;
		justify-content: end;
		.summary-event__minute-box {
			justify-content: end;
		}
		.summary-event__player {
			margin-right: 0;
			margin-left: 0.25em;
		}
	}
}

@media (min-width: 768px) {
	.summary-event {
		padding: 0.3em 0;
		.summary-event__icon {
			margin: 0 0.375em;
			min-width: 24px;
			height: 24px;
			border-radius: 7px;
			.icon {
				font-size: 2rem;
				&--warn {
					font-size: 1.8rem;
				}
			}
			.card-icon {
				margin: 0 0.2em;
				height: 16px;
				border-radius: 3px;
			}
			.var-icon {
				padding: 0 0.4em;
				font-size: 1.1rem;
				letter-spacing: 1px;
			}
		}

		.summary-event__player {
			margin-right: 0.375em;
		}

		.summary-event__assist,
		.summary-event__comment {
			font-size: 1.3rem;
		}

		&--away {
			.summary-event__player {
				margin-right: 0;
				margin-left: 0.375em;
			}
		}
	}
}
