@use './variables.scss';

.summary {
    &__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.75em 0 0.25em;
		padding: 0.5em 0.75em;
		background-color: variables.$gray-light;
		border-radius: 10px;
        &:first-child{
            margin-top: 0;
        }
		p {
			font-size: 1.2rem;
			font-weight: bold;
			text-transform: uppercase;
			color: variables.$font-color-less-darker;
		}
    }
}