@use './variables.scss';

.top-scorers {
	&__player-header {
		display: flex;
		align-items: center;
		margin-bottom: 0.5em;
		padding: 0.75em 0.25em;
		font-size: 1.2rem;
		border-radius: 10px;
		background-color: variables.$gray-light;
		.top-scorers__header-rank-box {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 0.25em;
			width: 22px;
			span {
				font-size: 1.3rem;
			}
		}
		.top-scorers__header-player {
			margin-right: auto;
			span {
				text-transform: uppercase;
			}
		}
		.top-scorers__header-value-box {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			.top-scorers__header-goals {
				font-weight: bold;
			}
		}
	}
	&__player {
		display: flex;
		align-items: center;
		padding: 0.25em 0.25em;
		font-size: 1.3rem;
		border-bottom: 1px solid variables.$border-light;
		transition: background-color 0.3s;
		&:hover {
			background-color: variables.$gray-light;
		}
		&:nth-child(2) {
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		}
		&:last-child {
			border-bottom: none;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		.top-scorers__rank-box {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 0.25em;
			width: 22px;
			.top-scorers__rank {
				font-weight: bold;
				font-size: 1.4rem;
			}
		}
		.top-scorers__image-box {
			margin-right: 0.5em;
			width: 36px;
			height: 36px;
			border-radius: 5px;
			border: 1px solid variables.$border-light;
			cursor: pointer;
			img {
				height: 100%;
				border-radius: 5px;
			}
		}
		.top-scorers__player-info {
			display: flex;
			flex-direction: column;
			margin-right: auto;
			.top-scorers__player-name {
				margin-bottom: 0.1em;
				font-weight: bold;
				font-size: 1.4rem;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
			.top-scorers__club {
				display: flex;
				align-items: center;
				&-image {
					height: 14px;
				}
				&-name {
					margin-right: 0.25em;
					font-size: 1.3rem;
					color: variables.$font-color-less-darker;
				}
			}
		}
		.top-scorers__player-name--desktop,
		.top-scorers__club--desktop {
			display: none;
		}

		.top-scorers__value-box {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			.top-scorers__goals {
				font-weight: bold;
			}
		}
	}
	&__no-top-scorers-info {
		padding: 0.5em 0.75em;
		background-color: variables.$gray-light;
		border-radius: 10px;
		p {
			font-size: 1.2rem;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			color: variables.$font-color-less-darker;
		}
	}
}

@media (min-width: 768px) {
	.top-scorers {
		&__player-header {
			padding: 0.75em 0.5em;
			font-size: 1.3rem;
			.top-scorers__header-rank-box {
				margin-right: 0.5em;
				span {
					font-size: 1.4rem;
				}
			}
		}
		&__player {
			padding: 0.375em 0.5em;
			font-size: 1.4rem;
			.top-scorers__rank-box {
				margin-right: 0.5em;
			}
			.top-scorers__image-box {
				margin-right: 0.625em;
				width: 40px;
				height: 40px;
				img {
					border-radius: 8px;
				}
			}
			.top-scorers__player-info {
				.top-scorers__player-name {
					margin-bottom: 0.15em;
					font-size: 1.5rem;
				}
				.top-scorers__club {
					&-image {
						height: 16px;
					}
					&-name {
						margin-right: 0.375em;
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}
