@use './styles/variables.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-weight: normal;
	background-color: variables.$background-color;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 98%;
	max-width: 1000px;
}

.match-wrapper {
	margin: 0 auto;
	width: 98%;
	max-width: 800px;
}