@use './styles/variables.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	scrollbar-width: thin; /* "auto" or "thin" */
	scrollbar-color: variables.$scrollbar-thumb-color variables.$scrollbar-track-color; /* scroll thumb and track */
}

::-webkit-scrollbar {
	width: 8px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
	background: variables.$scrollbar-track-color; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
	background-color: variables.$scrollbar-thumb-color; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid variables.$scrollbar-track-color; /* creates padding around scroll thumb */
}

body {
	font-size: 1.6rem;
	font-weight: normal;
	background-color: variables.$background-color;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 98%;
	max-width: 1000px;
}

.match-wrapper {
	margin: 0 auto;
	width: 98%;
	max-width: 800px;
}